$color-primary-blue: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(4, 43, 164) 100%); // главный цвет header & footer
$color-primary-white: #f6f6f9; //главный цвет текста
$color-primary-gray: #e0e2eb; //главный цвет фона
$color-primary-light-blue: #abc2f2; //цвет кнопок

